.form{
        text-align: center;
        background: rgba(255, 255, 255, .9);
        padding: 1.5em;
        border-radius: 10px;

    }
    .form input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #dbdbe2;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    /* .form p {
        font-size: 20px;
        color: #3a3b37;
        margin-bottom: 1em;
    } */
    .form button{
        background: var(--pink-color);
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        border-bottom: 5px solid #b96963;
        display: inline-block;
        font-size: 16px;
    }
    h1 {
      text-align: center;
      color: #222831;
      font-family: 'Oswald', sans-serif;
    }
