@media (max-width: 600px) {

  .products{
    display: inherit;
    height: auto;
  }
  .product{
    margin-top: auto;
  }
  .main_section{
    padding: 4%;
  }
  .beneficios, .Menciones, nav, .faqs-answers {
    display: inherit;
    text-align: center;
  }
  .footer  ul{
    display: block;
    text-align: center;
  }
  .faqs-answers {
    margin-left: auto;
  }
}
