body{
  background-color: black;
  text-align: center;
  color: var(--white-color);
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-family: 'Barlow Condensed', sans-serif;
}
.content_paypal a{
  color: var(--green-color);
}
